<div class="ui segment">
    {{#link-to 'home'}}
 <img class="ui small centered image" src="/assets/images/digitalCOIDark.png">
    {{/link-to}}
</div>
<div class="ui attached stackable inverted menu" style="background-color: #444444;">
 <a class="item">
 <a class="home icon">{{#link-to 'home'}}Home{{/link-to}} </a>
 </a>
 <a class="right item">{{#link-to 'building'}}Check Compliance{{/link-to}}
 </a>
</div>
<div class="ui container">

{{outlet}}
</div>
<br>
<div class="ui padded grid" style="background-color: #1860b8; color: #FFFFFF;">
 <div class="fourteen wide column">
 ©  digitalCOI
 </div>
 <div class="two wide column">
 <img class="ui centered aligned tiny image" src="/assets/images/digitalCOIWhite.png" >
 </div>
</div>
