 <img class="ui centered aligned image" src="/assets/images/profileImage.png" style="width:300px;height:360px;padding:30px;padding-top:50px;">
 <center><a class="item" style="font-size:26px;padding:30px">{{#link-to 'checkCompliance'}}Check Compliance{{/link-to}} </a></center>
<div style="padding:15px;"> </div>
