 <img class="ui centered aligned tiny image" src="/assets/images/profileImage.png" style="width:300px;height:340px;padding:30px">
 <center><a class="item" style="font-size:30px;padding:30px">{{#link-to 'checkCompliance'}}Check Compliance{{/link-to}} </a></center>