<div style="padding:10px;"> </div>
<img class="ui centered aligned image" src="/assets/images/tennant1Confirm.png" style="width:300px;height:60px;">
<img class="ui centered aligned image" src="/assets/images/lease.png" style="width:400px;height:600px;">

<div>
  <center><a class="item" style="font-size:26px;padding:30px">
    {{#link-to 'photoAdd'}}Add New Lease{{/link-to}}
  </a>

  <br/>
  <div style="font-size:26px;padding:30px">
    COI
      <img class="ui centered aligned image" src="/assets/images/COI.png" style="width:400px;height:1000px;">
    <br/>
    Request New COI
  </div>
</center>

</div>
