<div style="padding:10px;"> </div>
<img class="ui centered aligned image" src="/assets/images/tennant1.png" style="width:300px;height:60px;">
<div>
  <center><a class="item" style="font-size:26px;padding:30px">
    {{#link-to 'photoAdd'}}Add Lease{{/link-to}}
  </a>

  <br/>
  <div style="font-size:26px;padding:30px">
    COI
      <img class="ui centered aligned image" src="/assets/images/COI.png" style="width:400px;height:1000px;">

    Request New COI
  </div>
</center>

</div>
