<div style="padding:10px;"> </div>
<img class="ui centered aligned image" src="/assets/images/tennant1.png" style="width:300px;height:60px;">
<div>
  <center><a class="item" style="font-size:26px;padding:30px">
    {{#link-to 'photoAdd'}}Add Lease{{/link-to}}

  <br/>Request New COI


  </a></center>

</div>
